* {
  font-family: "Quicksand", sans-serif;
}

body {
  background-image: linear-gradient(to right, rgb(245, 245, 245), rgb(255, 255, 255));
}


.hero-jumbotron {
  background-image: url("assets/images/hero.png");
  background-size: cover;
}

.blue-text {
  color: rgb(0, 0, 99);
}

.gradient-bg {
  background-image: linear-gradient(to right, rgb(255, 115, 0), yellow);
}

.image-grid {
  flex-wrap: nowrap;
}

.image-grid-text {
  font-size: 30px;
}

@media (max-width: 800px) {
  .image-grid-text {
    font-size: 15px;
  }
}
